.job_card {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  padding: 12px 18px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: $box-shadow;
  background-color: #fff;
  transition: all 300ms;
  border-radius: 5px;
  font-weight: 600;
  display: flex;
  flex-direction: column;

  &__like {
    position: absolute;
    top: 8px;
    right: 8px;

    .like-heart {
      fill: transparent;
      stroke: rgba(28, 92, 189, 0.349);
      stroke-width: 2px;
      transition: all 300ms;

      &:hover {
        stroke: none;
        fill: #d74a41;
      }
    }
  }
  .clicked {
    stroke: none;
    fill: #d74a41;
  }
  &__top {
    margin-top: 5px;
    display: flex;
    flex-direction: column;

    &__comapny-name {
      text-align: left;
      color: $txt-main-color;
      font-size: 1.3rem;
      font-weight: 700;
    }
    &__comapny-location {
      text-align: left;
      color: $txt-secondary-color;
      font-size: 0.9rem;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
  &__title {
    text-align: left;
    color: $txt-main-color;
    line-height: 1.3rem;
    font-size: 1.25rem;
    font-weight: 700;
  }

  &__middle {
    @include flex(center, start);
    flex-direction: row;
    font-weight: 400;
    color: $txt-main-color;
    margin-top: 5px;
    margin-bottom: 10px;

    &__category {
      display: inline-block;
      padding: 0 3px;
    }
    &__type {
      display: inline-block;
      padding: 0 3px;
    }
  }

  &__posted {
    margin-top: auto;
    color: $txt-secondary-color;
    font-weight: 600;
    line-height: 1.1rem;
  }
  &__footer {
    margin-top: auto;

    &_button {
      margin-top: 10px;
      padding: 4px 25px;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 15px;
      font-weight: 600;
      color: $txt-secondary-color;
      transition: all 300ms;

      &:hover {
        background-color: rgba(28, 92, 189, 0.651);
        color: #fff;
      }
    }
  }

  &__button {
    @include tablet {
      display: none;
    }
  }
}
